.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: black;
  color: white;
  padding: 10px
}

.item {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* màn hình tablet hoặc mobile */
@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }
}